.heading {
  font-weight: bold;
  color: teal;
  font-family: sans-serif;
}

.projects {
  margin: 12px;
  border: 2px solid teal;
  padding: 4px;
  background-color: #ADD8E6;
  text-align: center;
}

img {
  margin: 12px;
}

p {
  font-family: sans-serif;
}
